/******* nav ******/
nav {
    background: white;
    height: 440px;
    padding-top: 48px;
    padding-left: 20px;

    .number {
        position: relative;
        width: 15px;
        height: 15px;
        text-align: center;
        background: $primary-color;
        color: white;
        font-size: 14px;
        border: 1px solid $primary-color;
        border-radius: 100px;
        top: 45px;
        right: 10px;
    }

    ul {
        padding-left: 20px;
        padding-right: 20px;
        list-style: none;
        justify-content: center;
    }

    .consigne {
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding-left: 34px;
        padding-top: 28px;
        padding-bottom: 28px;
        margin-bottom: 25px;
        max-width: 322px;

        .fa-mobile-screen-button{
            padding-right: 27px;
        }
        .fa-list{
            padding-right: 23px;
        }
        .fa-store {
            padding-right: 20px;
            color: $primary-color;
            font-size: 18px;
        }
    }}