.btn-heart {
    border: none;
    background-color: white;
    
    .empty-heart{
        background: black;
        position: absolute;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        transition-duration: 1.5s;
        
    }
    &:hover .empty-heart{
        background-image: linear-gradient($primary-color, $secondary-color);
        font-weight: bold;
        transition-delay: 0.3s;
        transition-timing-function: ease-out;
        transform-origin: top;
        transform: scale(1.1);
    }
}