body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

/*******page accueil******/
.logo {
  text-align: center;
  justify-content: center;
  background-color: white;
  padding-top: 14px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}
.logo .return {
  color: black;
  position: absolute;
  left: 23px;
  top: 24px;
}

.location {
  background-color: #EAEAEA;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 15px;
}
.location .fa-location-dot {
  padding-right: 17px;
}

.head {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 57px;
  background-color: #F6F6F6;
}
.head #target {
  font-size: 24px;
  font-weight: 700;
  padding-left: 42px;
  padding-right: 53px;
}
.head p {
  font-weight: 300;
  font-size: 18px;
}
.head .btn-cmd {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 218px;
  height: 50px;
  color: white;
  margin-top: 27px;
}
.head .btn-cmd:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

h1 {
  font-family: "Shrikhand", cursive;
}

nav {
  background: white;
  height: 440px;
  padding-top: 48px;
  padding-left: 20px;
}
nav .number {
  position: relative;
  width: 15px;
  height: 15px;
  text-align: center;
  background: #9356DC;
  color: white;
  font-size: 14px;
  border: 1px solid #9356DC;
  border-radius: 100px;
  top: 45px;
  right: 10px;
}
nav ul {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  justify-content: center;
}
nav .consigne {
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 25px;
}
nav .consigne:hover {
  background: #F5EDFF;
}
nav .consigne:hover .fa-solid {
  color: #9356DC;
}
nav .fa-solid {
  padding-right: 27px;
  color: #7E7E7E;
  font-size: 18px;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 64px;
}
.restaurants h2 {
  padding-left: 20px;
  padding-top: 54px;
}

.cards {
  padding: 0px 20px;
}
.cards a {
  text-decoration: none;
  color: black;
}
.cards img {
  border-radius: 15px 15px 0px 0px;
  height: 231px;
  width: 100%;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  position: relative;
}

.new {
  position: absolute;
  text-align: center;
  width: 80px;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  right: 20px;
  margin-top: 15px;
}
.new p {
  margin: 5px;
}

.card-content {
  display: grid;
  grid-template-columns: 60% 1fr;
  padding-top: 16px;
}
.card-content h3 {
  margin: 0px;
  padding-left: 23px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.card-content p {
  margin: 0px;
  padding-left: 23px;
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 300;
}

.btn-heart {
  border: none;
  background-color: white;
}
.btn-heart .empty-heart {
  background: black;
  position: absolute;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-heart:hover .empty-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  font-weight: bold;
  transform: scale(1.1);
  transition-duration: 1s;
}

footer {
  background: #353535;
  color: white;
  padding-left: 25px;
  padding-top: 22px;
  position: relative;
  z-index: 3;
}
footer ul {
  list-style-type: none;
}
footer ul .lg-desktop {
  opacity: 0;
}
footer ul li {
  padding-bottom: 7px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer h1 {
  font-size: 18px;
  font-weight: lighter;
  line-height: 26px;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer .fa-handshake-angle {
  padding-right: 10px;
}

/******* responsive 768px  *********/
@media screen and (min-width: 768px) {
  /***** page accueil responsive 768****/
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .card .image {
    right: 0;
  }
  /****** page menu responsive 768*******/
  .menu-container {
    max-width: 450px;
    margin: auto;
  }
  .menu-header {
    justify-content: center;
  }
  .menu-header .btn-heart {
    left: 330px;
  }
}
/****responsive 1024px ********/
@media screen and (min-width: 1024px) {
  /****** page accueil responsive 1024******/
  nav {
    height: 262px;
  }
  nav h2 {
    position: relative;
    left: 157px;
  }
  nav .number {
    left: 42px;
    top: 30px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    width: 322px;
    margin-right: 36px;
  }
  .restaurants h2 {
    position: relative;
    left: 157px;
  }
  .cards {
    padding-left: 176px;
    padding-right: 176px;
    row-gap: 50px;
    -moz-column-gap: 92px;
         column-gap: 92px;
  }
  /******* for all pages responsive 1024********/
  footer ul {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  footer ul .lg-phone {
    opacity: 0;
  }
  footer ul .lg-desktop {
    opacity: 1;
  }
  footer li {
    padding-right: 40px;
  }
  /******* pages menu responsive 1024*****/
  nav ul {
    padding-left: 106px;
    padding-right: 126px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  nav .fa-solid {
    padding-left: 15px;
  }
  .menu-container {
    max-width: 1005px;
    margin: auto;
  }
  .menu-container .choice {
    max-width: 634px;
    margin: auto;
  }
}
/******* pages menu ******/
.menu-header {
  display: flex;
}
.menu-header .title {
  font-size: 28px;
}
.menu-header .btn-heart {
  background-color: #F6F6F6;
  position: absolute;
  top: 28px;
  right: 57px;
  padding: 0px;
}

.menu-container {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -60px;
  z-index: 2;
  margin-bottom: -60px;
  padding-bottom: 40px;
  padding-left: 17px;
  padding-right: 17px;
}

.picture img {
  width: 100%;
  height: 275px;
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.top .underline {
  border: 2px solid #99E2D0;
  width: 40px;
  margin-top: 8px;
}
.top p {
  margin: 0px;
}

.delay-1 {
  animation: translate-effect 0.4s ease-in-out 1s both;
}

.time-1 {
  animation: translate-effect 0.6s ease-in-out 1s both;
}

.time-2 {
  animation: translate-effect 0.8s ease-in-out 1s both;
}

.time-3 {
  animation: translate-effect 1s ease-in-out 1s both;
}

.delay-2 {
  animation: translate-effect 1.2s ease-in-out 1s both;
}

.time-4 {
  animation: translate-effect 1.4s ease-in-out 1s both;
}

.time-5 {
  animation: translate-effect 1.6s ease-in-out 1s both;
}

.time-6 {
  animation: translate-effect 1.8s ease-in-out 1s both;
}

.delay-3 {
  animation: translate-effect 2s ease-in-out 1s both;
}

.time-7 {
  animation: translate-effect 2.2s ease-in-out 1s both;
}

.time-8 {
  animation: translate-effect 2.4s ease-in-out 1s both;
}

.time-9 {
  animation: translate-effect 2.6s ease-in-out 1s both;
}

.time-10 {
  animation: translate-effect 2.8s ease-in-out 1s both;
}

.list-menu {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
}
.list-menu .content-menu {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.list-menu .food {
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-menu .complement {
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-menu .price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.list-menu .btn-check {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.list-menu:hover .btn-check {
  margin-right: -1rem;
}
.list-menu .icon {
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.list-menu .icon .fa-circle-check {
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  font-size: large;
}
.list-menu:hover .icon {
  transform: rotate(0deg);
}

.cmd {
  text-align: center;
}
.cmd .btn-cmd {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 218px;
  height: 50px;
  color: white;
  margin-top: 27px;
}
.cmd .btn-cmd:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/**** animations ****/
@keyframes translate-effect {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
/**LOADER**/
#loader {
  font-family: "Shrikhand", cursive;
  display: flex;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  animation: loading 3s forwards;
  justify-content: center;
}

.bubble {
  font-weight: 600;
  font-size: 30px;
  margin: 10px;
  border: 2px solid #9356DC;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble:nth-child(1), .bubble:nth-child(5) {
  animation: bubble 1s ease-in-out infinite;
}

.bubble:nth-child(2), .bubble:nth-child(6) {
  animation: bubble 1.4s ease-in-out infinite;
}

.bubble:nth-child(3), .bubble:nth-child(7) {
  animation: bubble 1.6s ease-in-out infinite;
}

.bubble:nth-child(4), .bubble:nth-child(8) {
  animation: bubble 1s ease-in-out infinite;
}

.mint {
  background-color: #99E2D0;
}

.pink {
  background-color: #ff79da;
}

@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 50%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 30%;
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}/*# sourceMappingURL=main.css.map */