body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.logo {
  text-align: center;
  justify-content: center;
  background-color: white;
  padding-top: 14px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}
.logo .return {
  color: black;
  position: absolute;
  left: 23px;
  top: 24px;
}

.location {
  background-color: #EAEAEA;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 15px;
}
.location .fa-location-dot {
  padding-right: 17px;
}

.head {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 57px;
  background-color: #F6F6F6;
}
.head #target {
  font-size: 24px;
  font-weight: 700;
  padding-left: 42px;
  padding-right: 53px;
}
.head p {
  font-weight: 300;
  font-size: 18px;
}
.head .btn-cmd {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 218px;
  height: 50px;
  color: white;
  margin-top: 27px;
}
.head .btn-cmd:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

h1 {
  font-family: "Shrikhand", cursive;
}

nav {
  background: white;
  height: 440px;
  padding-top: 48px;
  padding-left: 20px;
}
nav .number {
  position: relative;
  width: 15px;
  height: 15px;
  text-align: center;
  background: #9356DC;
  color: white;
  font-size: 14px;
  border: 1px solid #9356DC;
  border-radius: 100px;
  top: 45px;
  right: 10px;
}
nav ul {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}
nav li {
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 25px;
}
nav li:hover {
  background: #F5EDFF;
}
nav li:hover .fa-solid {
  color: #9356DC;
}
nav .fa-solid {
  padding-right: 27px;
  color: #7E7E7E;
  font-size: 18px;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 64px;
}
.restaurants h2 {
  padding-left: 20px;
}

.cards {
  padding: 0px 20px;
}
.cards a {
  text-decoration: none;
  color: black;
}
.cards img {
  border-radius: 15px 15px 0px 0px;
  height: 231px;
  width: 100%;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 30px;
  text-decoration: none;
}
.card .image .new {
  position: absolute;
  text-align: center;
  width: 80px;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  right: 20px;
  margin-top: 15px;
}
.card .image .new p {
  margin: 5px;
}

.card-content {
  display: grid;
  grid-template-columns: 60% 1fr;
  padding-top: 16px;
}
.card-content h3 {
  margin: 0px;
  padding-left: 23px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.card-content p {
  margin: 0px;
  padding-left: 23px;
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 300;
}

.btn-heart {
  border: none;
  background-color: white;
}
.btn-heart .empty-heart {
  background: black;
  position: absolute;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-heart:hover .empty-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  font-weight: bold;
  transform: scale(1.1);
  transition-duration: 1s;
}

footer {
  background: #353535;
  color: white;
  padding-left: 25px;
  padding-top: 22px;
  position: relative;
  z-index: 3;
}
footer ul {
  list-style-type: none;
}
footer ul .lg-desktop {
  opacity: 0;
}
footer ul li {
  padding-bottom: 7px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer h1 {
  font-size: 18px;
  font-weight: lighter;
  line-height: 26px;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer .fa-handshake-angle {
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .card .image {
    right: 0;
  }
  .resto {
    width: 75%;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    height: 262px;
  }
  nav .number {
    left: 10px;
    top: 30px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    width: 322px;
    margin-right: 36px;
  }
  .cards {
    padding-left: 176px;
    padding-right: 176px;
    row-gap: 50px;
    -moz-column-gap: 92px;
         column-gap: 92px;
  }
  footer ul {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  footer ul .lg-phone {
    opacity: 0;
  }
  footer ul .lg-desktop {
    opacity: 1;
  }
  footer li {
    padding-right: 40px;
  }
}
.resto {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -90px;
  z-index: 2;
  margin-bottom: -110px;
}

.menu {
  margin: 17px;
  margin-top: 32px;
}
.menu .title {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.menu .title h1 {
  margin: 0px;
}
.menu .title .btn-heart {
  background-color: #F6F6F6;
  position: relative;
  top: -10px;
}

.picture img {
  width: 100%;
  height: 275px;
  position: relative;
  z-index: 1;
}

.title {
  padding-top: 32px;
  margin-bottom: 42px;
}

.top .underline {
  border: 2px solid #99E2D0;
  width: 40px;
  margin-top: 8px;
}
.top p {
  margin: 0px;
}

.list-menu {
  padding: 0px;
  list-style: none;
}
.list-menu .content-menu {
  position: relative;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 10fr 0.5fr 2fr;
  border: 1px solid #F6F6F6;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 68px;
  margin-bottom: 12px;
}
.list-menu .content-menu .food {
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 18px;
}
.list-menu .content-menu .complement {
  width: 100%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 15px;
}
.list-menu .content-menu .details {
  padding-left: 11px;
  position: relative;
}
.list-menu .content-menu .price {
  margin-top: 37px;
  position: relative;
  right: -40px;
  z-index: 2;
  transform: translate(0);
}
.list-menu .content-menu .btn-check {
  position: relative;
  z-index: 1;
  height: 68px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  border: none;
  opacity: 0;
  transform: translate(50px);
}
.list-menu .content-menu .btn-check .fa-circle-check {
  color: white;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: bold;
  font-size: large;
  transform: rotate(90deg);
}
.list-menu .content-menu:hover .price {
  transform: translate(-50px);
  transition: transform 0.6s;
}
.list-menu .content-menu:hover .btn-check {
  opacity: 1;
  transform: translate(0px);
  transition: transform 0.6s;
}
.list-menu .content-menu:hover .fa-circle-check {
  transform: rotate(0deg);
  transition: transform 1.5s;
}

.entrees {
  font-weight: 300;
}

.plats {
  margin-top: 40px;
  font-weight: 300;
}

.desserts {
  margin-top: 40px;
  font-weight: 300;
}

.cmd {
  margin-left: 55px;
}
.cmd .btn-cmd {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 218px;
  height: 50px;
  color: white;
  margin-top: 27px;
}
.cmd .btn-cmd:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=main.css.map */